interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://openshiro.com/api/v1/deployments/dpmt_o6drBgMEZv9YmU9vYjb5QwxR
  response:
    body:
      string: '{"id":"<SHIRO_DEPLOYMENT_ID>","name":"Updated Deployment Name","environment_type":{"id":"env_ZWaJKVvg9wQEAILwnNqxk0zy","object":"environment_type","name":"PRODUCTION"},"created_at":1707946238,"updated_at":1708928658,"url":"https://openshiro.com/api/v1/deployments/<SHIRO_DEPLOYMENT_ID>"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c87bc2c44f7f1903b49ac02299e8bf7a"
    status:
      code: 200
      message: OK
version: 1
