interactions:
- request:
    body: '{"deployment_id": "dpmt_o6drBgMEZv9YmU9vYjb5QwxR", "environment": "PRODUCTION",
      "prompt_id": "prmt_6q9JKvEmp5LPxub5ONgawnrB", "input_variables": {"review_text":
      "I loved the movie."}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://openshiro.com/api/v1/generate_completion
  response:
    body:
      string: '{"content":"Positive"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd68791208451c24a3ba8a8d0a590581"
    status:
      code: 200
      message: OK
version: 1
