interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://openshiro.com/api/v1/prompts
  response:
    body:
      string: '[{"id":"prmt_qWdKlNznA8bQws61v039e2wk","name":"New hire letter","body":"Write
        a new hire welcome letter to a new employee whose first name is {{ first_name
        }}. {{ first_name }} has been hired as a {{ job_title }}. Let them know that
        their new company email address will be {{ email }}. ","temperature":0.0,"language_model":{"id":"lm_4Rz6y7lNwKRwgSybQMEB1j82","object":"language_model","name":"gpt-4","provider_name":"OpenAI"},"created_at":1706838837,"updated_at":1706838837,"url":"https://openshiro.com/api/v1/prompts/prmt_qWdKlNznA8bQws61v039e2wk"},{"id":"prmt_B2Q3O6anr10rzSr5RMNzqvde","name":"New
        hire letter fun","body":"Imagine you are a fun writer and write in a light,
        but still professional manner.  Please write a new hire welcome letter to
        a new employee whose first name is {{ first_name }}. {{ first_name }} has
        been hired as a {{ job_title }}. Let them know that their new company email
        address will be {{ email }}","temperature":0.0,"language_model":{"id":"lm_4Rz6y7lNwKRwgSybQMEB1j82","object":"language_model","name":"gpt-4","provider_name":"OpenAI"},"created_at":1706842288,"updated_at":1706842288,"url":"https://openshiro.com/api/v1/prompts/prmt_B2Q3O6anr10rzSr5RMNzqvde"},{"id":"<SHIRO_PROMPT_ID>","name":"Categorization
        prompt 1","body":"Categorize the following review as either positive or negative.
        Respond with one word only, positive or negative. {{ review_text }}","temperature":0.5,"language_model":{"id":"lm_4Rz6y7lNwKRwgSybQMEB1j82","object":"language_model","name":"gpt-4","provider_name":"OpenAI"},"created_at":1707946227,"updated_at":1707946227,"url":"https://openshiro.com/api/v1/prompts/<SHIRO_PROMPT_ID>"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c286312298ab48ed557e97b8c1d270b"
    status:
      code: 200
      message: OK
version: 1
