interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://openshiro.com/api/v1/prompts/prmt_6q9JKvEmp5LPxub5ONgawnrB
  response:
    body:
      string: '{"id":"<SHIRO_PROMPT_ID>","name":"Categorization prompt 1","body":"Categorize
        the following review as either positive or negative. Respond with one word
        only, positive or negative. {{ review_text }}","temperature":0.5,"language_model":{"id":"lm_4Rz6y7lNwKRwgSybQMEB1j82","object":"language_model","name":"gpt-4","provider_name":"OpenAI"},"created_at":1707946227,"updated_at":1707946227,"url":"https://openshiro.com/api/v1/prompts/<SHIRO_PROMPT_ID>"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a575c0b29702255cb670921a0f872d1f"
    status:
      code: 200
      message: OK
version: 1
